# Lecture 3: Loops

Loops allow you to repeat lines of code.

## For Loops

For loops repeat a statement or collection of statements for every element of an iterable sequence (`list`, `range`, `dict`, `file`, `str`). The statements are executed once for each element.

In [2]:
names = ['Nicole', 'Shae', 'Shannon', 'Leasly', 'Mya', 'Emma', 'Kederson', 'Lily', 'Robert', 'Cecelia']

for name in names:
    print(name)

Nicole
Shae
Shannon
Leasly
Mya
Emma
Kederson
Lily
Robert
Cecelia

#### The Range Function

If we don't have an existing sequence we want to iterate over, we can create one with the `range(n)` function. 

* `range(n)`:   $[0, 1, 2, 3, \dots, n-1]$
* `range(p, q)`:     $[p, p+1, p+2, \dots, q-1]$
* `range(p, q, r)`:  $[p, p+r, p+(2*r), \dots, q-1]$

In [136]:
for i in range(5):
    print(i)

0
1
2
3
4

In [137]:
for i in range(1, 5):
    print(i)

1
2
3
4

In [138]:
for i in range(0, 5, 2):
    print(i)

0
2
4

## Nested For Loops

If we have to iterate over a sequence that also contains sequences, we can *nest* multiple for loops.

In [141]:
student_groups = [ ['Nicole', 'Shae', 'Shannon'] , ['Leasly', 'Mya', 'Emma'], ['Kederson', 'Lily', 'Robert', 'Cecelia'] ]

for i in range(len(student_groups)):
    
    print(20*'-')
    print('Group ', i)
    print(20*'-')

    for name in student_groups[i]:
        print(name)

--------------------
Group  0
--------------------
Nicole
Shae
Shannon
--------------------
Group  1
--------------------
Leasly
Mya
Emma
--------------------
Group  2
--------------------
Kederson
Lily
Robert
Cecelia

## While Loops

While loops contain a sequence of statements that are repeated over and over again until some condition is met.

In [134]:
count = 0
dan = 'talking'

while dan == 'talking':
    print('blah')
    count += 1    # += adds the value to the existing value and assigns the updated value to the variable
    
    if count > 10:
        print('dan has been talking too long \ngoodnight dan')
        dan = 'sleeping'

blah
blah
blah
blah
blah
blah
blah
blah
blah
blah
blah
dan has been talking too long
goodnight dan

### Break and Continue

There may be times where we need to exit a loop after some condition is met. To do this, we use `break`. If a condition is met that has this statement, then the code immediately exits the loop.

In [142]:
for i in range(10):

    print(i)

    if i == 8:
        break

0
1
2
3
4
5
6
7
8

We also have `continue`. This lets us enter the next iteration, but skips any code in the loop that comes after this statement.

In [144]:
i = 1

while i <= 25:
    i = i + 1

    if i % 5 != 0:  # for any value that isn't a multiple of 5, skip printing
        continue

    print(i)

5
10
15
20
25